<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSpace</title>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
    <%- include('partials/header') %>
    </header>
    <main id="about-main">
<div class="about-me">
    <h1> - About</h1>
    <ul>
    <li>
        BlogSpace was designed and developed by 
        <a href="https://github.com/pratham-g7" target="_blank">Pratham G</a> 
        as a full-stack web project.
    </li>
    <li>Built with Node.js, Express, MongoDB, and EJS.</li>
    <li>Frontend styled using vanilla CSS + jQuery.</li>
    <li>Icons, fonts, and visuals courtesy of open source assets.</li>
    <li>Special thanks to no one, and to everyone who helped test, break, and shape the site.</li>
    </ul>
</div>
    <div class="feedback-div">
        <form action="/feedback" method="POST" class="feedback-form">
            <input type="hidden" name="username" id="usernameInput">
            <h2 class="page_text newPostTxt feedback-header">Send feedback!</h2>
            <div class="feedback-flex">
            <textarea name="feedback" class="commentBox"></textarea>
            <button class="sendCmnt" type="submit">➡️</button>
            </div>
        </form>
    </div>
    </main>
    <footer>
        <p>&copy; 2025 BlogSpace. All rights reserved.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>